---
id: G4
skill: robinhood-exit-guardian
variant: base
rel: "1.0"
max_turns: 20
allowed_tools: [Skill, Read, Bash]
tags: [guardian]
mentions_account: false
---
{{context_line}}

Is my ETH protected?
